.App {
  text-align: center;

}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px;
}

.App-header {
  background-color: #222;
  padding: 20px;
  color: white;
  overflow: hidden;
}

.App-title {
  font-size: 1.5em;
}

.App-intro {
  font-size: large;
}

table {
  float: left;
  width:70%;
  margin:0 15%;
}

table, th, td {
   border: 1px solid white;
}

.new-entry {
    float: right;
    width: 50%;
    margin: 0 25%;
    padding: 2%;
    border: 1px solid white;
}


.new-user-form label{
  display: block;
  margin: 15px;
}

#new-data{
  color: white;
}

.new-user-form label span {
  width: 93px;
  display: inline-block;
}

.notification{
  color: red;
  font-size: 12px;
  font-style: italic;
}



@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}
